/* Containers and "body" - structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: 'Lato', sans-serif;
}

body {
  background: url('i/Wallpaper.png');
}

#mbb-logo {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px 40px;

  padding-top: 0;
  padding-bottom: 30px;
  opacity: 0;
  transition: all 1.3s ease-out;
}

#mbb-logo.loaded {
  opacity: 1;
  padding-top: 30px;
  padding-bottom: 0;
}

body.mbb-cyan svg path {
  fill: #0293C0;
}
body.mbb-cyan #mbb-picker li {
  background-color: #0293C0;
  color: #fff;
}

body.mbb-yellow svg path {
  fill: #E8B03B;
}
body.mbb-yellow #mbb-picker li {
  background-color: #E8B03B;
}

body.mbb-magenta svg path {
  fill: #C93354;
}
body.mbb-magenta #mbb-picker li {
  background-color: #C93354;
  color: #fff;
}

body.mbb-black svg path {
  fill: #252930;
}
body.mbb-black #mbb-picker li {
  color: #252930;
  background-color: #dedede;
}

svg path {
  fill: #0293C0;
  /*fill: rgba(2, 147, 193, 0);*/
  transition: all 1.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke: white;
  stroke-width: 2px;
  opacity: 1;
}

#content {
  margin: 40px auto;
  max-width: 600px;
}

.mbb-center {
  margin: 0 auto;
}

#mbb-picker li {
  display: inline-block;
  text-align: center;
  background-color: #0293C0;
  padding: 5px 8px;
  text-align: center;
  width: 90px;

  margin: 0 4px;
  border-radius: 3px;

  transition: all 0.3s ease;
}

#mbb-picker ul {
  width: 200px;
  text-align: center;
  font-size: 1.2em;
}

#mbb-decal {
  display: none;
}

html body #mbb-picker .active {
  background-color: #ddd;
}
